<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h2 style="color: red">Самая лучшая девочка туть &#x2B07;</h2>
    <img style="width: 100%" src="https://scontent-ber1-1.xx.fbcdn.net/v/t1.0-9/s960x960/87753440_869742206797721_4086674640708042752_o.jpg?_nc_cat=108&_nc_sid=85a577&_nc_ohc=T2UcQmTzRj0AX9tW1rq&_nc_ht=scontent-ber1-1.xx&_nc_tp=7&oh=9810b959b894a26d2c5e8e2da55c2341&oe=5E9D7BBC">
</body>
</html>